body{
    padding-top: 60px;
}
.home-thumb{
    height: 80px;
    width: 80px;
}
.feed-item{
    padding:5px;
}
/* .navbar-header:after{
    content: "";
    display: table;
    clear: both;
} */
/* .navbar-header a.navbar-brand{
    margin-top: -15px;
    margin-bottom: -20px;
} */